---
layout: landing-page
title: Landing Get
tagline: "Done Parallax page"
header: Landing Pages
group: navigation
---
{% include JB/setup %}
<div class='blurred-container'>
   <div class="motto">
     <div style="font-size: 50%;">Oops!</div>
     <div class="border no-right-border">Sh</div><div class="border">it</div>
     {% if page.tagline %}<div style="font-size: 50%;">Error 404</div>{% endif %}
   </div>
   <div class="img-src" style="background-image: url('{{ BASE_PATH }}/assets/img/cover_4.jpg')"></div>
   <div class='img-src blur' style="background-image: url('{{ BASE_PATH }}/assets/img/cover_4_blur.jpg')"></div>

</div>
</div><!-- En container and nav -->
<div class="space-30"></div>
<div class="main">
    <div class="container tim-container">
      <div class="container tim-container" style="max-width:800px; padding-top:100px">
         <h1 class="text-center">We can't seem to find the page you're looking for.<small class="subtitle">Error code: 404</small></h1>
         <h4>The page you've tried to find does not exist or has been removed. <small class="subtitle">We apologize greatly for the inconvenience! Here some usefull links.</small></h4>
         <div class="row tim-row" id="display-buttons" data-class="btn-info">
             <div class="col-md-3 col-sm-6">
                 <button href="#fakelink" class="btn btn-block btn-lg btn-info">Default Button</button>
             </div>
             <div class="col-md-3 col-sm-6">
                 <button href="#fakelink" class="btn btn-block btn-lg btn-info btn-fill">Filled Button</button>
             </div>
         </div> <!-- end row -->
      </div>
    </div>
</div>
