---
layout: landing-page
title: Landing Get
tagline: "Done Parallax page"
header: Landing Pages
group: navigation
---
{% include JB/setup %}
<div class='blurred-container'>
   <div class="motto">
     <div style="font-size: 50%;">404</div>
     <div class="border no-right-border">Sh</div><div class="border">it</div>
     {% if page.tagline %}<div style="font-size: 50%;">page</div>{% endif %}
   </div>
   <div class="img-src" style="background-image: url('{{ BASE_PATH }}/assets/img/cover_4.jpg')"></div>
   <div class='img-src blur' style="background-image: url('{{ BASE_PATH }}/assets/img/cover_4_blur.jpg')"></div>

</div>
</div><!-- En container and nav -->
<div class="space-30"></div>
<div style="border-top: 10px solid black; border-bottom: 10px solid black;" class="main">
    <div class="container tim-container">
      <h1 class="text-center">What this Shjt

      <small class="subtitle">discover what can do</small></h1>
    </div>
</div>



<div class="container tim-container" style="max-width:800px; padding-top:100px">
   <h1 class="text-center">Error 404<small class="subtitle">This page does not exist.</small></h1>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
