---
layout: page
title: Categories
header: Posts By Category
group: navigation
---
{% include JB/setup %}
<!-- ORIGINAL VERSION
<ul class="nav nav-pills">
  {% assign categories_list = site.categories %}
  {% include JB/categories_list %}
</ul>


{% for category in site.categories %}
  <h2 id="{{ category[0] }}-ref">{{ category[0] | join: "/" }}</h2>
  <ul>
    {% assign pages_list = category[1] %}
    {% include JB/pages_list %}
  </ul>
{% endfor %} -->

<div class="container tim-container" style="max-width:800px; padding-top:100px">
   <h1 class="text-center">Awesome looking header <br> just for my friends<small class="subtitle">This is like a small motto before the story.</small></h1>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
       <!--     end extras -->




    <!-- <h1 class="header author-header">{{ site.author_name }}</h1> -->
    <h2 class="header" itemprop="headline">All posts</h2>
    <h2 class="header categories" itemprop="headline"><small>grouped by

      <div class="dropdown btn-group">
        <button class="btn btn-categories dropdown-toggle btn-xs" type="button" data-toggle="dropdown">Categories
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Years</a></li>
        </ul>
      </div>

    </small></h2>
      {% for category in site.categories %}

        <h2 id="{{ category | first }}-ref">{{ category | first }}</h2>
        <ul class="list-unstyled">
          {% for posts in category %}
            {% for post in posts %}
            {% if forloop.first %}{% endif %}
            <li><div><img src="url('{{ BASE_PATH }}/assets/images{{ page.id }}.jpg')"></div>
              <h2>
                <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                <small class="subtitle">{{ post.date | date: "%B %-d, %Y" }}</small>
              </h2>
            </li>
            {% endfor %}
          {% endfor %}

        </ul>

      {% endfor %}

    <!-- end container extras -->



</div>
